# LAB 14
# Shriharsh S Kotecha 22MIC0021

### Objective
To perform advanced data preprocessing tasks like data merging, wrangling, and handling different formats.

In [1]:
import csv

# Writing CSV file
data = [["Name", "Age", "Country"],
        ["Shriharsh S Kotecha", 21, "India"],
        ["Guarav", 22, "USA"],
        ["Praveen", 20, "UK"]]

with open("students.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file created successfully!")

CSV file created successfully!

In [2]:
# Reading CSV file
with open("students.csv", newline="") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'Country']
['Shriharsh S Kotecha', '21', 'India']
['Guarav', '22', 'USA']
['Praveen', '20', 'UK']

### Handling CSV with Pandas
Pandas makes CSV handling much easier by automatically managing headers and missing values.

In [3]:
import pandas as pd

data = {"Name": ["Shriharsh S Kotecha", "Gaurav", "Praveen"],
        "Age": [21, 22, 20],
        "Marks": [95, 90, 78]}

df = pd.DataFrame(data)
df.to_csv("marks.csv", index=False)
#New Data
new_row = {"Name": "Mayank", "Age": 26, "Marks": 92}
#Updated Data frame
df_updated = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Save updated data back to CSV
df_updated.to_csv("marks.csv", index=False)

print("CSV created and updated using Pandas")

# Reading back
print(pd.read_csv("marks.csv"))

CSV created and updated using Pandas
                  Name  Age  Marks
0  Shriharsh S Kotecha   21     95
1               Gaurav   22     90
2              Praveen   20     78
3               Mayank   26     92

## Handling JSON Files
JSON (JavaScript Object Notation) is widely used for structured and hierarchical data.

**Common operations:**
- Writing JSON (`json.dump`, `json.dumps`)
- Reading JSON (`json.load`, `json.loads`)

### json.dump() 	→ Write dictionary to JSON file
### json.load() 	→ Read JSON from a file
### json.dumps() 	→ Convert dictionary to JSON string
### json.loads() 	→ Convert JSON string to Python object

### json.dump()

In [4]:
import json

# Writing JSON file
employee_data = {
    "emp1": {"name": "Mayank", "age": 26, "department": "HR"},
    "emp2": {"name": "Shriharsh", "age": 21, "department": "IT"}
}

with open("employees.json", "w") as f:
    json.dump(employee_data, f, indent=4)

print("JSON file created successfully!")

JSON file created successfully!

### json.load()

In [5]:
# Reading JSON file
with open("employees.json", "r") as f:
    data = json.load(f)

print(data)

{'emp1': {'name': 'Mayank', 'age': 26, 'department': 'HR'}, 'emp2': {'name': 'Shriharsh', 'age': 21, 'department': 'IT'}}

In [6]:
import json

with open("employees.json", "r") as f:
    data = json.load(f)

for key, value in data.items():
    print(key, ":", value)

emp1 : {'name': 'Mayank', 'age': 26, 'department': 'HR'}
emp2 : {'name': 'Shriharsh', 'age': 21, 'department': 'IT'}

### json.loads()

In [7]:
json_string = '{"city": "New York", "population": 890000, "famous": true}'
city_dict = json.loads(json_string)
print("\nConverting JSON string to Python dict with loads():")
print(city_dict)
print("City Name:", city_dict["city"])

Converting JSON string to Python dict with loads():
{'city': 'New York', 'population': 890000, 'famous': True}
City Name: New York

### json.dumps()

In [8]:
import json
person_dict = {
    'name': 'Shriharsh',
    'age': 21,
    'children': None # Is one
}
# Convert dict to JSON string
person_json = json.dumps(person_dict)

print(person_json)

{"name": "Shriharsh", "age": 21, "children": null}

### Handling JSON with Pandas

In [9]:
import pandas as pd
# 1. Create sample JSON data (normally you'd load from file)
json_data = [
    {"id": 1, "name": "Mayank", "age": 26, "city": "LA"},
    {"id": 2, "name": "Shriharsh", "age": 21, "city": "New York"}
]
# df.to_json() function is used to change to the json format
df = pd.DataFrame(json_data)
df.to_json("people.json", orient="records", indent=4)
print(pd.read_json("people.json"))

   id       name  age      city
0   1     Mayank   26        LA
1   2  Shriharsh   21  New York

#### Inspecting Data

In [10]:
print("\n=== Head of DataFrame ===")
print(df.head())
print("\n=== DataFrame Info ===")
print(df.info())
print("\n=== Statistical Summary ===")
print(df.describe(include="all"))

=== Head of DataFrame ===
   id       name  age      city
0   1     Mayank   26        LA
1   2  Shriharsh   21  New York

=== DataFrame Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      int64
 1   name    2 non-null      object
 2   age     2 non-null      int64
 3   city    2 non-null      object
dtypes: int64(2), object(2)
memory usage: 196.0+ bytes
None

=== Statistical Summary ===
              id    name        age city
count   2.000000       2   2.000000    2
unique       NaN       2        NaN    2
top          NaN  Mayank        NaN   LA
freq         NaN       1        NaN    1
mean    1.500000     NaN  23.500000  NaN
std     0.707107     NaN   3.535534  NaN
min     1.000000     NaN  21.000000  NaN
25%     1.250000     NaN  22.250000  NaN
50%     1.500000     NaN  23.500000  NaN
75%     1.750000     NaN  24.750000  NaN
max     2.000000     NaN  26.000000  NaN

#### Selecting Columns & Rows

In [11]:
print("\n=== Selecting 'name' column ===")
print(df["name"])
print("\n=== Selecting first 2 rows ===")
print(df.iloc[0:2])

=== Selecting 'name' column ===
0       Mayank
1    Shriharsh
Name: name, dtype: object

=== Selecting first 2 rows ===
   id       name  age      city
0   1     Mayank   26        LA
1   2  Shriharsh   21  New York

#### Filtering Data

In [12]:
filtered_df = df[df["age"] > 28]
print("\n=== People older than 28 ===")
print(filtered_df)

=== People older than 28 ===
Empty DataFrame
Columns: [id, name, age, city]
Index: []

#### Adding a New Column

In [13]:
df["age_group"] = df["age"].apply(lambda x: "Young" if x < 25 else "Old")
print("\n=== After Adding 'age_group' Column ===")
print(df)

=== After Adding 'age_group' Column ===
   id       name  age      city age_group
0   1     Mayank   26        LA       Old
1   2  Shriharsh   21  New York     Young

#### Updating values

In [14]:
df.loc[df["name"] == "Shriharsh", "city"] = "Japan"
print("\n=== After Updating Alice's City ===")
print(df)

=== After Updating Alice's City ===
   id       name  age   city age_group
0   1     Mayank   26     LA       Old
1   2  Shriharsh   21  Japan     Young

#### Writing JSON back

In [15]:
df.to_json("people_updated.json", orient="records", indent=4)
print("\n=== Final DataFrame written to people_updated.json ===")
print(df)

=== Final DataFrame written to people_updated.json ===
   id       name  age   city age_group
0   1     Mayank   26     LA       Old
1   2  Shriharsh   21  Japan     Young

In [16]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\shriharsh\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\shriharsh\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

## Handling Excel Files
Excel files can be handled with **openpyxl** (low-level) or **pandas** (high-level).

In [18]:
import openpyxl

# Create a workbook and add data
wb = openpyxl.Workbook()
ws = wb.active
ws.title = "Students"
ws.append(["Name", "Age", "Marks"])
ws.append(["Shriharsh", 21, 85])
ws.append(["Priya", 22, 90])
ws.append(["Mayank", 20, 78])

wb.save("students.xlsx")
print("Excel file created successfully!")

Excel file created successfully!

In [19]:
# Reading Excel file using Pandas
df_excel = pd.read_excel("students.xlsx", sheet_name="Students")
print(df_excel)

        Name  Age  Marks
0  Shriharsh   21     85
1      Priya   22     90
2     Mayank   20     78

#### Loading the Workbook

In [20]:
wb = openpyxl.load_workbook('students.xlsx')

#### Accessing Worksheets

In [21]:
ws = wb.active

#### Count the number of rows and columns in this worksheet.

In [22]:
print('Total number of rows: '+str(ws.max_row))
print('Total number of columns: '+str(ws.max_column))

Total number of rows: 4
Total number of columns: 3

#### Reading Data From a Cell

In [32]:
print('The value in cell A1 is: '+ws['A1'].value)

The value in cell A1 is: Name

#### printing out multiple rows in a specific column

In [34]:
data=[ws.cell(row=i,column=2).value for i in range(2,12)] 
print(data)

[21, 22, 20, None, None, None, None, None, None, None]

### Writing to Excel Files with Openpyxl

In [39]:
ws['K1'] = 'Sum of Awesomeness'
# or can use it like this
ws.cell(row=1, column=11, value = 'Sum of Awesomeness')
wb.save('students.xlsx')

#### AVERAGE: create a new column called “Average Sales” to calculate the average total video game sales

In [41]:
ws['D1'] = 'Average Age' 
ws['D2'] = '= AVERAGE(B2:B16220)' 
wb.save('students.xlsx')

#### COUNTIF: counts the number of cells that meet a specific condition

In [44]:
ws['R1'] = 'Number of Rows with Marks above 90' 
ws['R2'] = '=COUNTIF(C2:C16220, ">90")' 
wb.save('students.xlsx')

In [46]:
# Changing Sheet Names
print(ws.title)
ws.title ='Student Data' 
wb.save('students.xlsx')
print(wb.sheetnames) 
wb.save('students.xlsx')
# Duplicating a Worksheet
wb.copy_worksheet(wb['Student Data']) 
wb.save('students_data_2.xlsx')

Student Data
['Student Data']

In [53]:
import openpyxl
from openpyxl.chart import Reference, BarChart

# Create a workbook
wb = openpyxl.Workbook()
ws = wb.active
ws.title = "Total Sales by Genre"

# Add some sample data
data = [
    ["Genre", "Total Sales"],
    ["Action", 120],
    ["Adventure", 80],
    ["Sports", 150],
    ["RPG", 90],
    ["Racing", 60],
    ["Shooter", 200],
    ["Puzzle", 40]
]

for row in data:
    ws.append(row)

# Define the values and categories for the chart
values = Reference(ws,
                   min_col=2,  # Sales column
                   max_col=2,
                   min_row=1,  # Include header
                   max_row=len(data))  # Last row of data

cats = Reference(ws,
                 min_col=1,  # Genre column
                 max_col=1,
                 min_row=2,  # Start after header
                 max_row=len(data))

# Create the Bar Chart
chart = BarChart()
chart.add_data(values, titles_from_data=True)
chart.set_categories(cats)

chart.title = "Total Sales"
chart.x_axis.title = "Genre"
chart.y_axis.title = "Total Sales by Genre"

ws.add_chart(chart, "D2")

# Save the workbook
wb.save("sales_chart.xlsx")
print("Bar chart created and saved in 'sales_chart.xlsx'")

Bar chart created and saved in 'sales_chart.xlsx'